<head>
<link rel="icon" href="static/common/logo_final_2.png" type="image/gif" sizes="16x16">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-storage.js"></script>
<link rel="stylesheet" href="static\sell_page.css">
</head>
<body>
  <script>
    const firebaseConfig = {
      apiKey: "AIzaSyAXwgisDN7kx6BMZCIwYjj8KNDgmJuz1Mg",
      authDomain: "exampledjango-4af38.firebaseapp.com",
      databaseURL: "https://exampledjango-4af38.firebaseio.com",
      projectId: "exampledjango-4af38",
      storageBucket: "exampledjango-4af38.appspot.com",
      messagingSenderId: "476609483924",
      appId: "1:476609483924:web:14a07bf9950ed344809081",
      measurementId: "G-Q8RNK0P4KT"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    //console.log(firebase.storage)
  </script>
  <script type="text/javascript" src="static/sell_page.js"></script>
<div class="navbar navbar-expand-lg navbar-dark bg-dark" id="soham">
    <a class="navbar-brand" href="contributors" id="image_container">
      <img src="static/common/logo_final_2.png" width="120" height="60" loading="lazy" alt="404">
    </a>
    <div class="dropdown">
      <span class="navbar-brand mb-0 h1">Social</span>
      <div class="dropdown-content">
        <a href="texts">Texts</a>
        <a href="interests">Interests</a>
        <a href="confirmations">Confirmations</a>
      </div>
    </div>
    <div class="dropdown">
      <span class="navbar-brand mb-0 h1">Goods</span>
      <div class="dropdown-content">
        <a href="buy">Buy</a>
        <a href="sell">Sell</a>
        <a href="rent">Rent</a>
        <a href="lease">Lease</a>
      </div>
    </div>
    <div class="dropdown">
      <span class="navbar-brand mb-0 h1">Services</span>
      <div class="dropdown-content">
        <a href="render_service">Request Service</a>
        <a href="require_service">Render Service</a>
      </div>
    </div>
    <div class="dropdown" id="screenSizeChange">
      <span class="navbar-brand mb-0 h1"> Hi , {{user_name}}</span>
      <div class="dropdown-content">
        <a href="account_details">Account Details</a>
        <a href="all_transactions">All Transactions</a>
        <a href="logout">Logout</a>
      </div>
    </div>
  </div>



<!--seller ads-->
<div class="ads_shown" id="ads">
<span>
  <h2  id="create_ad">Create a new AD      <button type="button" accept="image/*,.pdf" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="button_create">
    Create AD
  </button></h2>
</span>
 <span class="row">
        <div class="column">
          <div class="card">
            <span class="container101">
              <img class="buy_ad" src="static/common/logo_final_2.png">
              <h3>Title</h3>
              <p>Product Description</p>
              <h6>Seller:</h6>
              <button type="button" onclick="#">See AD</button>
          </div>
        </div>
  </span>

</div>



<div class="container" id="create_ad">

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Enter Product Details</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        <!--add title name-->
        <div class="input-group input-group-sm mb-3">
         <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
        </div>
        <input type="text" id="title" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <!--ad description-->
        <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
        </div>
         <textarea class="form-control" id="description" aria-label="With textarea"></textarea>
         </div>
         <br>
        <!--price-->
        <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text">Price ₹</span>
        </div>
        <input type="text" id="price" class="form-control" aria-label="Amount (to the nearest rupee)">
        </div>
        <br>
        <!--image upload-->
          <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text">Image</span>
            </div>
            <div class="custom-file">
            <input type="file" accept="image/*,.pdf" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" id="fileLabel" for="customFile">Choose file</label>
            </div>
           </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" onclick="upload('{{uid}}')" id="uploadclear" class="btn btn-danger" data-dismiss="modal">Upload</button>
        </div>
        
      </div>
    </div>
  </div>
</div>


<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

<script>
    function changePaddingLeft(screenSize){
      if(screenSize.matches){
        document.getElementById("screenSizeChange").style.paddingLeft = "550px";
      }
    }
    var screenSize = window.matchMedia("(min-width: 1300px)")
    changePaddingLeft(screenSize) // Call listener function at run time
    screenSize.addListener(changePaddingLeft) // Attach listener function on state changes
  </script>

</body>